# Secrets 
unsealed-secret.yaml
*.txt
.env

# Keys for FluxCD
flux-ssh-key
flux-ssh-key.pub

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Temp Config Files
kubeconfig.yaml
talosconfig.yaml
